body {
  font-family: 'Open Sans', 'Futura', 'Verdana', sans-serif;
  margin: 1em 10em 1em 10em;
  background: #5CF9EB;
  color: #000;
}

h1 {
  font-family: 'Lora', 'Big Caslon', 'Georgia', serif;
  color: #fff;
}

#description {
  background: #fff;
  margin-top: 25px;
  padding: 10px 30px;
}

footer {
  background: #fff;
  margin: 25px 0px;
  padding: 10px 30px;
}


#mapid {
  height: 700px;
  border: 10px solid #fff;
}

@media screen and (min-width 700px); {
  #mapid {
    margin: 0px;
    boder: 0px;
    border-radius: 0px;
  }
}
